div.app {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ddd;
  color: #222;
}
div.app header {
  flex-basis: 30vh;
  background-color: #444;
  color: white;
}
div.app main {
  display: flex;
  flex-grow: 1;
  padding: 30px 0;
}
div.app main aside {
  width: 240px;
  background-color: #ccc;
}
div.app main section {
  flex-grow: 1;
  background-color: #aaa;
}
div.app footer {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  color: white;
}
